<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="TelemetryDB" connectionString="data source=qvr9aar3i6.database.windows.net;initial catalog=TelemetryDB;user id=drcrook;password=David!2345;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  <add name="TelemetryDB1" connectionString="data source=drc-mtp.database.windows.net;initial catalog=drcmtp;persist security info=True;user id=drcrook;password=David!2345;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" /></connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" /></startup></configuration>
